include ../layout/macros.jade

form.form-horizontal( name="form" ng-submit="save()" )
	fieldset
		legend: strong I. INFORMACIÓN PARA LA OPERACIÓN Y LOGÍSTICA
		+formLabel("Tipo de actividad académica")
			.col-sm-10
				.radio
					label
						input(type="radio" name="academic_activity" value="Taller" ng-model="course.logistical.academic_activity")
						| Taller
				.radio
					label
						input(type="radio" name="academic_activity" value="Curso" ng-model="course.logistical.academic_activity")
						| Curso
				.radio
					label
						input(type="radio" name="academic_activity" value="Diplomado" ng-model="course.logistical.academic_activity")
						| Diplomado
				.radio
					label
						input(type="radio" name="academic_activity" value="Seminario" ng-model="course.logistical.academic_activity")
						| Seminario
				.radio
					label
						input(type="radio" name="academic_activity" value="Otro" ng-model="course.logistical.academic_activity")
						| Otro
				.radio( ng-if="course.logistical.academic_activity === 'Otro'")
					label.col-sm-10
						input.form-control(type="text" ng-model="course.logistical.academic_activity_other")
		+formLabel("Modalidad")
			.col-sm-10
				.radio
					label
						input(type="radio" name="modality" value="Presencial" ng-model="course.logistical.modality")
						| Presencial
				.radio
					label
						input(type="radio" name="modality" value="Semi-Presencial" ng-model="course.logistical.modality")
						| Semi-Presencial
				.radio
					label
						input(type="radio" name="modality" value="En línea" ng-model="course.logistical.modality")
						| En línea
		+formLabel("Fechas")
			.col-sm-10
				.col-sm-6
					+inputAddon({ 
						icon: { left: "glyphicon glyphicon-calendar" } 
					})
				.col-sm-6
					+inputAddon({ 
						icon: { left: "glyphicon glyphicon-calendar" } 
					})
		+input("Días y horarios", { input: { "ng-model": "course.logistical.schedule" } })
		+input("Lugar", { input: { "ng-model": "course.logistical.place" } })
		+input("Número mínimo de inscritos", { 
			container: { class: "col-sm-4" }, 
			input: { "ng-model": "course.logistical.min_registered" } 
		})
		+input("Número máximo de inscritos", { 
			container: { class: "col-sm-4" }, 
			input: { "ng-model": "course.logistical.max_registered" } 
		})
		+input("Número de sesiones", { 
			container: { class: "col-sm-4" }, 
			input: { "ng-model": "course.logistical.number_sessions" } 
		})
		+inputLabelAddon("Número de horas por sesión", { 
			container: { class: "col-sm-4" }, 
			input: { "ng-model": "course.logistical.number_hours" }, 
			icon: { left: "glyphicon glyphicon-time" } 
		})
		+inputLabelAddon("Número total de horas", { 
			container: { class: "col-sm-4" }, 
			input: { value: "{{ totalHours() }}", readonly:"true" }, 
			icon: { left: "glyphicon glyphicon-time" } 
		})
		+inputLabelAddon("Costo de inscripción para público en general", { 
			container: { class: "col-sm-4" }, 
			icon: { left: "glyphicon glyphicon-usd" } 
		})
		+inputLabelAddon("Costo de inscripción para alumnos, tesistas y personal de la UNAM", { 
			container: { class: "col-sm-4" }, 
			icon: { left: "glyphicon glyphicon-usd" } 
		})
		+inputLabelAddon("Pago propuesto a docentes", { 
			container: { class: "col-sm-4" }, 
			icon: { left: "glyphicon glyphicon-usd" } 
		})
		+input("Material de apoyo requerido durante las clases")
		+input("Equipo de cómputo y software requerido")
		+input("Material requerido a los alumnos")
		+input("Material de apoyo para los alumnos")
	fieldset
		legend: strong II. INFORMACIÓN ACADÉMICA
	+button("Guardar", { button: { class: "btn-success" } })