include ../layout/macros.jade

.page-header
	h2 Bienvenido al menú temporal!

+button("Ver Cursos", { button: { "ui-sref": "course.list", class: "btn-default" } })
+button("Crear Curso", { button: { "ui-sref": "course.create", class: "btn-default" } })
