+script("/bower/jquery/dist/jquery.min")
+script("/bower/bootstrap/dist/js/bootstrap.min")
+script("/bower/angular/angular.min")
+script("/bower/angular-ui-router/release/angular-ui-router.min")
+script("/bower/oclazyload/dist/ocLazyLoad.min")
+script("/bower/lodash/lodash.min")
+script("/bower/restangular/dist/restangular.min")
+script("/js/config/app")